<!--begin::Login-->
<div class="login-form login-signup">
  <!--begin::Form-->
  <form
    class="form"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="loginForm"
    (ngSubmit)="loginUser()"
  >
    <!--begin::Title-->
    <div>
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Login to your account
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        Please, Enter your credentials to login
      </p>
    </div>
    <!--end::Title-->

    <!--begin::register-->
    <div class="pb-13 pt-lg-0 pt-5">
      <p class="text-muted font-size-h6">
        Doesn't have an account?
        <a
          routerLink="/auth/registration"
          class="font-weight-bold font-size-h6"
        >
          Register now
        </a>
      </p>
    </div>
    <!--end::register-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="hasError">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">The login details are incorrect</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group">
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="email"
        placeholder="Email"
        name="email"
        formControlName="Email"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            loginForm.controls['Email'].invalid &&
            loginForm.controls['Email'].touched
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Email is required',
          control: loginForm.controls['Email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'email',
          message: 'Email is invalid',
          control: loginForm.controls['Email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Email should have maximum 360 symbols',
          control: loginForm.controls['Email']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="password"
        placeholder="Password"
        name="password"
        formControlName="Password"
        autocomplete="off"
        [ngClass]="{
          'is-invalid':
            loginForm.controls['Password'].invalid &&
            loginForm.controls['Password'].touched
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Password is required',
          control: loginForm.controls['Password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Password should have at least 3 symbols',
          control: loginForm.controls['Password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Password should have maximum 100 symbols',
          control: loginForm.controls['Password']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
      <button
        type="submit"
        id="kt_login_signup_submit"
        [disabled]="loginForm.invalid"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
      >
        Submit
      </button>
    </div>
    <!--end::Form group-->
    <!--begin::forget password-->
    <div class="pb-13 pt-lg-0 pt-5">
      <p class="text-muted font-size-h6">
        <a
          routerLink="/auth/forgot-password"
          class="font-weight-bold font-size-h6"
        >
          Forgot Password?
        </a>
      </p>
    </div>
    <!--end::forget password-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signup-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
