<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <!--begin::Login-->
  <div
    class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white"
    id="kt_login"
  >
    <!--begin::Aside-->
    <div
      class="login-aside d-flex flex-column flex-row-auto"
      style="background-color: #f2c98a"
    >
      <!-- <ngb-carousel
        *ngIf="images"
        [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators"
      >
        <ng-template ngbSlide *ngFor="let image of images">
          <img [src]="image" alt="Random slide" class="slider-image" />
       <div class="carousel-caption">
            <h3>No mouse navigation</h3>
            <p>This carousel hides navigation arrows and indicators.</p>
          </div> 
        </ng-template>
      </ngb-carousel> -->
    </div>
    <!--begin::Aside-->

    <!--begin::Content-->
    <div
      class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto"
    >
      <!--begin::Content body-->
      <div class="d-flex flex-column-fluid flex-center">
        <router-outlet></router-outlet>
      </div>
      <!--end::Content body-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>
