.slider {
    width: 100%;
    display: flex;
}

input[type="range"] {
    -webkit-appearance: none !important;
    width: 100%;
    height: 15px;
    background-color: #A3CD99;
    border: 1px solid #97c68b;
    border-radius: 10px;
    margin: auto;
    transition: all 0.3s ease;
}

input[type="range"]:hover {
    background-color: #b2d5aa;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background-color: #579E81;
    border-radius: 30px;
    box-shadow: 0px 0px 3px #3c6d59;
    transition: all 0.5s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #457d66;
}

input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 1px #3c6d59;
}

#rangevalue {
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px 0px;
    width: 40px;
    color: #579E81;
    text-align: right;
}

.m-b-0 {
    margin-bottom: 0;
}